body {
    background-color: #141a32;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    position: fixed;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

#content {
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

h1 {
    margin: 10px auto 20px auto;
    width: 20rem;
}

#scores, #scores table {
    width: 100%;
}

#scores {
    overflow-y: scroll;
}

tr:hover {
    background: #37405D !important;
}

tr:nth-child(odd) {
    background: #2C3147;
}

#header, tr:nth-child(even) {
    background: #20263C;
}

#header th {
    padding: 10px;
}

#header th:nth-child(1) {
    width: 5rem;
}
#header th:nth-child(2) {
    width: 15rem;
}
#header th:nth-child(3) {
    width: 10rem;
}

th, td {
    padding: 5px 10px;
    text-align: center;
}
